.cart-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: #f8f8f8;
}
.emptyImgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.emptyImg {
  border-radius: 50%;
  margin-bottom: 20px;
  width: auto;
}
.emptyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carttohome {
  margin-bottom: 25px;
}
.cartInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px 20px;
  gap: 40px;
}

.cartamountBox {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.addedcart {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: max-content;
  text-align: center;
  padding: 5px;
  color: green;
  font-weight: 500;
}
.cartdiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}
.itemsInfo {
  width: 40%;
  font-size: 1rem;
  padding: 0px 20px;
}
.total-divider{
  width: 90%;
  height: 1px;
  color: black;
}